.fishing-log {  
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 30vw;
  min-width: 800px;
  overflow: hidden;
  background: #CCCCB2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #CCCCB2, #bbbb9c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CCCCB2, #bbbb9c ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 0;
  border-radius: 20px;
  margin: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fishing-log:hover .meta {
  transform: scale(1.2);
}
.fishing-log:hover .description {
  transform: translateX(2em);
}

.fishing-log:hover .delete-icon{
  transform: translateX(-2em);
}

.photo {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 300px;
  background-size: cover;
  background-position: center;
}

.meta {
  position: relative;
  width: 300px;
  overflow: hidden;
  transition: transform 0.2s;
}

.description {
  position: relative;
  margin-left: 1em;
  color: #fff;
  transition: transform 0.2s;
  width: 50vw;
}

.fish-species {
    text-transform: capitalize;
}

.species-list:not(:last-child)::after {
    content: " ";
  }
  
  .delete-icon{
    float: right;
    margin-top: 1em;
    margin-right: 1em;
    transition: transform 0.1s;
}
